 # THỰC HÀNH

In [ ]:
Bộ dữ liệu về điện thoại bao gồm các thông số kỹ thuật và mức giá của các loại điện thoại di động. Bao gồm dữ liệu train và dữ liệu test.

Xây dựng model dựa trên các thuật toán đã học với bộ dữ liệu train
Kiểm tra với bộ dữ liệu test

Vẽ hình

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time

In [3]:
train = pd.read_csv('data/mobile train.csv')
train

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [5]:
train['price_range'].unique()

array([1, 2, 3, 0], dtype=int64)

In [6]:
test = pd.read_csv("data/mobile test.csv")
test

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,1700,1,1.9,0,0,1,54,0.5,170,...,17,644,913,2121,14,8,15,1,1,0
996,997,609,0,1.8,1,0,0,13,0.9,186,...,2,1152,1632,1933,8,1,19,0,1,1
997,998,1185,0,1.4,0,1,1,8,0.5,80,...,12,477,825,1223,5,0,14,1,0,0
998,999,1533,1,0.5,1,0,0,50,0.4,171,...,12,38,832,2509,15,11,6,0,1,0
999,1000,1270,1,0.5,0,4,1,35,0.1,140,...,19,457,608,2828,9,2,3,1,0,1

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   battery_power  1000 non-null   int64
 2   blue           1000 non-null   int64
 3   clock_speed    1000 non-null   float64
 4   dual_sim       1000 non-null   int64
 5   fc             1000 non-null   int64
 6   four_g         1000 non-null   int64
 7   int_memory     1000 non-null   int64
 8   m_dep          1000 non-null   float64
 9   mobile_wt      1000 non-null   int64
 10  n_cores        1000 non-null   int64
 11  pc             1000 non-null   int64
 12  px_height      1000 non-null   int64
 13  px_width       1000 non-null   int64
 14  ram            1000 non-null   int64
 15  sc_h           1000 non-null   int64
 16  sc_w           1000 non-null   int64
 17  talk_time      1000 non-null   int64
 18  three_g        1000 non-null   int64
 19  touch_screen   1000 non-null   int64
 20  wifi           1000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 164.2 KB

In [25]:
#Đặt X và Y
X_train = train.iloc[:,0:20]
Y_train = train.iloc[:,20]
X_test = test.iloc[:,1:21]

In [36]:
from sklearn.naive_bayes import GaussianNB

#Tạo model
nb = GaussianNB()

#fit
start = time.time()
nb.fit(X_train,Y_train)
print('Đã tính toán xong trong: ', time.time()-start, ' s')

#dự đoán
Y_pred = nb.predict(X_test)
print('Đã dự đoán xong')

Đã tính toán xong trong:  0.0030362606048583984  s
Đã dự đoán xong

In [37]:
Y_pred

array([3, 3, 2, 3, 1, 3, 3, 1, 3, 0, 3, 3, 0, 0, 2, 0, 1, 2, 3, 2, 1, 3,
       1, 2, 3, 0, 2, 0, 3, 0, 2, 0, 3, 0, 0, 1, 3, 1, 2, 2, 1, 2, 0, 0,
       0, 0, 1, 2, 1, 2, 2, 0, 2, 1, 3, 0, 3, 1, 1, 3, 3, 3, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 2, 3, 3, 0, 2, 0, 2, 3, 0, 3, 3, 0, 3, 0, 3, 1,
       2, 0, 1, 1, 2, 0, 2, 1, 0, 2, 1, 3, 1, 0, 0, 2, 1, 2, 0, 1, 2, 3,
       3, 3, 1, 3, 3, 3, 3, 1, 3, 0, 0, 3, 2, 1, 1, 0, 3, 2, 3, 1, 0, 1,
       1, 2, 3, 1, 1, 0, 3, 2, 1, 2, 2, 2, 3, 3, 3, 2, 2, 3, 2, 3, 0, 1,
       2, 2, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 1, 0, 3, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 2, 2, 0, 0, 0, 1, 2, 2, 1, 1, 0, 0, 0, 0, 0, 3, 1, 0, 2, 1,
       2, 3, 1, 2, 3, 3, 3, 1, 2, 1, 0, 1, 2, 2, 1, 2, 3, 3, 0, 2, 0, 3,
       2, 2, 2, 0, 0, 1, 0, 3, 0, 1, 0, 2, 2, 1, 3, 0, 3, 0, 3, 1, 2, 0,
       0, 2, 1, 2, 2, 3, 1, 1, 3, 0, 0, 2, 3, 3, 1, 3, 1, 0, 3, 2, 1, 2,
       3, 3, 3, 1, 0, 1, 2, 3, 1, 1, 3, 2, 0, 3, 0, 1, 2, 0, 0, 3, 2, 3,
       2, 2, 1, 3, 2, 2, 3, 2, 2, 1, 1, 0, 2, 3, 1, 0, 0, 3, 0, 3, 1, 1,
       1, 0, 1, 3, 1, 3, 1, 2, 1, 2, 0, 0, 0, 1, 3, 1, 0, 0, 0, 3, 1, 1,
       3, 3, 1, 3, 3, 2, 3, 1, 3, 3, 2, 2, 2, 3, 3, 0, 3, 0, 3, 1, 3, 1,
       3, 3, 0, 1, 1, 3, 1, 3, 1, 3, 0, 0, 0, 0, 2, 0, 1, 1, 1, 1, 1, 2,
       2, 0, 1, 0, 0, 3, 2, 1, 3, 1, 2, 2, 2, 1, 3, 1, 1, 2, 2, 1, 2, 0,
       1, 1, 0, 3, 2, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 2, 2, 3, 2, 3, 0, 3,
       1, 3, 0, 1, 1, 1, 2, 0, 3, 2, 3, 3, 1, 3, 1, 3, 1, 3, 2, 1, 2, 2,
       2, 1, 0, 0, 0, 1, 1, 1, 0, 3, 3, 1, 2, 3, 0, 0, 3, 1, 1, 0, 2, 2,
       3, 0, 3, 1, 2, 3, 2, 3, 0, 2, 0, 2, 2, 0, 1, 1, 0, 0, 1, 1, 2, 3,
       3, 3, 2, 3, 1, 1, 2, 2, 3, 3, 1, 1, 3, 2, 1, 2, 1, 0, 2, 2, 0, 1,
       0, 3, 1, 0, 3, 2, 2, 0, 3, 0, 2, 2, 0, 3, 0, 3, 3, 0, 2, 1, 3, 3,
       1, 1, 2, 3, 2, 0, 2, 1, 3, 0, 3, 3, 1, 2, 2, 2, 3, 0, 1, 2, 3, 1,
       3, 2, 3, 1, 1, 1, 0, 3, 1, 0, 3, 2, 3, 2, 0, 3, 3, 3, 2, 3, 3, 1,
       1, 1, 2, 3, 3, 1, 0, 1, 1, 1, 2, 2, 1, 0, 2, 2, 3, 2, 0, 3, 1, 3,
       3, 0, 2, 3, 1, 2, 1, 0, 0, 0, 2, 1, 0, 1, 1, 2, 2, 0, 2, 3, 1, 0,
       3, 0, 0, 3, 2, 0, 0, 0, 0, 0, 3, 0, 3, 1, 3, 2, 1, 3, 3, 0, 1, 1,
       3, 2, 2, 1, 0, 3, 0, 1, 1, 2, 0, 1, 1, 1, 1, 2, 1, 3, 1, 3, 2, 1,
       1, 3, 2, 0, 1, 3, 0, 3, 3, 0, 2, 1, 2, 2, 0, 3, 2, 0, 3, 2, 3, 0,
       0, 3, 0, 1, 2, 3, 2, 1, 2, 2, 2, 1, 3, 0, 1, 0, 2, 2, 1, 0, 0, 1,
       0, 0, 3, 0, 1, 1, 0, 1, 1, 0, 3, 0, 3, 2, 3, 0, 0, 1, 2, 2, 1, 0,
       1, 1, 0, 1, 2, 0, 0, 3, 3, 1, 3, 1, 2, 3, 0, 1, 0, 1, 2, 0, 3, 2,
       0, 3, 1, 1, 0, 2, 3, 3, 2, 3, 0, 3, 2, 0, 1, 0, 2, 3, 2, 0, 2, 1,
       2, 1, 0, 2, 2, 0, 3, 1, 1, 1, 1, 1, 3, 1, 2, 2, 2, 0, 0, 1, 1, 0,
       2, 0, 0, 0, 0, 3, 3, 3, 3, 0, 1, 2, 1, 1, 0, 0, 2, 1, 0, 2, 0, 2,
       2, 2, 2, 2, 0, 2, 1, 3, 0, 0, 3, 1, 3, 0, 0, 2, 2, 2, 1, 3, 3, 2,
       0, 0, 2, 3, 0, 3, 0, 0, 0, 2, 2, 0, 2, 0, 3, 2, 1, 2, 3, 3, 0, 1,
       2, 2, 0, 2, 2, 0, 2, 3, 1, 1, 3, 1, 2, 3, 2, 1, 1, 2, 3, 3, 0, 3,
       3, 0, 2, 3, 2, 2, 2, 3, 2, 0, 1, 2, 0, 2, 1, 1, 1, 3, 2, 1, 2, 0,
       0, 1, 3, 0, 0, 2, 1, 3, 1, 0, 0, 3, 2, 2, 2, 0, 3, 3, 2, 1, 3, 1,
       1, 3, 1, 2, 1, 2, 2, 2, 0, 3, 1, 2, 3, 0, 3, 1, 3, 3, 1, 1, 2, 3,
       1, 0, 1, 1, 3, 1, 3, 0, 2, 2, 0, 2, 3, 3, 3, 0, 2, 1, 1, 1, 2, 3,
       3, 0, 2, 2, 2, 1, 3, 0, 1, 2, 0, 1, 0, 0, 3, 2, 2, 0, 0, 0, 0, 3,
       2, 3, 2, 0, 0, 2, 1, 0, 2, 2], dtype=int64)

In [38]:
test = pd.concat([X_test, Y_test], axis=1) # hiện đang thiếu obj Y_test
Y_pred = pd.DataFrame(Y_pred, index=test.index, columns = ['price_range'])
pred = pd.concat([X_test, Y_pred], axis=1)
pred

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1043,1,1.8,1,14,0,5,0.1,193,3,...,226,1412,3476,12,7,2,0,1,0,3
1,841,1,0.5,1,4,1,61,0.8,191,5,...,746,857,3895,6,0,7,1,0,0,3
2,1807,1,2.8,0,1,0,27,0.9,186,3,...,1270,1366,2396,17,10,10,0,1,1,2
3,1546,0,0.5,1,18,1,25,0.5,96,8,...,295,1752,3893,10,0,7,1,1,0,3
4,1434,0,1.4,0,11,1,49,0.5,108,6,...,749,810,1773,15,8,7,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1700,1,1.9,0,0,1,54,0.5,170,7,...,644,913,2121,14,8,15,1,1,0,2
996,609,0,1.8,1,0,0,13,0.9,186,4,...,1152,1632,1933,8,1,19,0,1,1,1
997,1185,0,1.4,0,1,1,8,0.5,80,1,...,477,825,1223,5,0,14,1,0,0,0
998,1533,1,0.5,1,0,0,50,0.4,171,2,...,38,832,2509,15,11,6,0,1,0,2
999,1270,1,0.5,0,4,1,35,0.1,140,6,...,457,608,2828,9,2,3,1,0,1,2

In [41]:
import sklearn.model_selection as model_selection
X = train.drop(columns = ['price_range'])
Y = train['price_range']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20)

NameError: name 'train_test_split' is not defined