# CÁC THUẬT TOÁN CLUSTING

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import radviz

In [3]:
dat = pd.read_csv('data/IRIS.csv')
dat

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
#Chia dữ liệu thành 2 bộ train và test
from sklearn.model_selection import train_test_split

X = dat.drop(columns='species',axis=1)
Y = dat['species'] #Label --> ko dùng

X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size=0.3) # 30% dữ liệu là test
print(X_train.shape)  # 105 records out of 150 will be the training data
print(X_test.shape)   #  45 records out of 150 will be the testing  data

(105, 4)
(45, 4)

In [ ]:
def plot_data(X, Y, TYPE):
    temp = pd.concat([X,Y],axis=1)
    fig, ax = plt.subplots(1,2, figsize=(12,5))
    sns.scatterplot(data=temp, x='petal_length', y = 'petal_width', hue = 'species', s=50, ax = ax[0]).set(tittle='scatter')
    radviz(temp, "species", ax=ax[1], color = ['blue', 'green', 'red']).set_title('radviz-3-kinds')
    # radviz(temp[temp['species'] != 'Iris-setosa'], "species", ax=ax[2], color = ['green', 'red']).set_title('radviz-2-kind')
    plt.suptitle(TYPE)
    plt.tight_layout()
    plt.show()